body {
	background-color: #4394a7f5;
	margin: 1em auto;
	font-size: 13px;
	padding: 1em;
	text-align: center;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
	color: powderblue;
	font-size: 2em;
	font-style: oblique;
}

p {
	color: powderblue;
	max-width: 30em;
	width: 100%;
	text-align: center;
	margin: 0.5em auto;
	font-size: 1.8em;
	line-height: 1.3;
}

img.logo {
	width: 100%;
	height: auto;
	max-width: 40em;
	max-height: 40em;
	margin: 2em auto;
}
